@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

.animate-fade-in {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s ease-in-out;
}

.animate-fade-out {
  opacity: 1;
  visibility: visible;
  animation: fadeOut 1s ease-in-out;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../src/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: extrabold;
  font-display: swap;
}

.image-gallery-image {
  width: 100% !important;
  height: auto !important;
  min-height: 550px !important;
}

/* a partir de 768px */
@media (min-width: 768px) {
  .image-gallery-image {
    width: 100% !important;
    height: auto !important;
    min-height: 900px !important;
  }
}

/* a partir de 1024px */
@media (min-width: 1024px) {
  .image-gallery-image {
    width: 100% !important;
    height: auto !important;
    min-height: 400px !important;
  }
}

.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-slides,
.image-gallery-slide {
  height: 100% !important;
}

.image-gallery-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

/* a partir de 1024px */
@media (min-width: 1024px) {
  .image-gallery-slide img {
    object-fit: contain !important;
  }
}
